{% extends 'blog/base.html' %}

{% block content %}

<h1 class="home-header">About Us</h1>

<div class="about-content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum luctus tortor at feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id turpis neque. Aenean scelerisque finibus risus, in posuere purus scelerisque ac.
    Vivamus aliquet pharetra ligula, dignissim varius felis mattis sed. Suspendisse pretium posuere est nec venenatis. Phasellus lectus lorem, sollicitudin sit amet bibendum sit amet, convallis et quam. Maecenas id nisl velit. Fusce a nisi sed arcu
    ultricies volutpat.
  </p>
  <p>
    Etiam sed urna sapien. Integer ut placerat mi, ut dapibus dolor. Morbi dictum, nisl eget interdum tincidunt, dolor erat consequat tortor, nec egestas metus nisi pretium purus. Aliquam erat volutpat. Sed suscipit feugiat molestie. Nam et odio eu
    nisi placerat blandit. Nunc faucibus leo in tellus porta sollicitudin. Maecenas auctor lobortis finibus. Proin quis pellentesque ipsum. In commodo ut odio eu facilisis. In venenatis lectus ut eros viverra euismod. Quisque ultrices congue
    tincidunt. Nunc porta feugiat lorem, vel tempor neque luctus ultrices. Donec fermentum nibh eu enim tempus, id interdum lorem aliquet. Morbi malesuada, turpis sed feugiat lacinia, metus augue tincidunt lorem, vel fermentum justo arcu et lorem. In
    eleifend bibendum ipsum, in elementum libero elementum vitae.
  </p>
  <p>
    Aenean ultrices orci mauris, eu aliquam eros volutpat non. Nullam ut tellus tortor. Mauris vitae lorem sed dui vehicula efficitur. Nulla finibus nec justo id iaculis. Vivamus dignissim ipsum nec nibh blandit, vel egestas mauris faucibus.
    Curabitur id ante pellentesque, convallis tellus efficitur, pretium ex. Mauris a auctor sapien, vitae efficitur metus. Quisque ultricies tincidunt lacus. Integer a augue porta velit sodales fermentum. Morbi eu rhoncus orci. Curabitur semper felis
    nisl, id egestas tortor iaculis eu.
  </p>
</div>

{% endblock content %}
