{% extends 'blog/base.html' %}

{% block content %}
<div class="form-group">
  <form method="POST">
    {% csrf_token %}
    <fieldset>
      <legend class="border-bottom mb-6"><h2>POST CREATE</h2></legend>
      <h3>Are you sure you want to delete {{object.title}}</h3>
    </fieldset>

    <div class="submit-btn">
      <button type="submit" class="btn-outline-danger">Yes, Delete</button>
      <button type="submit" class="btn-outline-secondary"><a href="{% url 'post-detail' object.id %}">Cancel</a></button>
    </div>
  </form>

</div>

{% endblock content %}
