{% extends 'blog/base.html' %}

{% block content %}

<h1 class="home-header">{{object.title}}</h1>
<p>by <strong><a href="{% url 'user-posts' object.author.username %}" class='author-link'>{{object.author}}</a></strong> on <em>{{object.date_posted|date:"M d, Y"}}</em></p>

<div class="about-content">
  {{object.content}}
</div>

{% if user.is_authenticated and user == object.author %}
<div class="submit-btn post-detail-btn">
  <button type="submit" class="btn-outline-danger"><a href="{% url 'post-update' object.id %}">Delete</a></button>
  <button type="submit" class="btn-outline-secondary"><a href="{% url 'post-update' object.id %}">Update</a></button>
</div>
{% endif %}

{% endblock content %}
